.link {
	text-decoration: underline;
	font-weight: 700;
	color: #2b587a;
	cursor: pointer;
	display: block;
	margin-top: 0.35em;
	line-height: 0.9em;
}
.section {
	background: white;
	margin: 8px 0px;
	border: 1px solid #ecf0f2;
}
.section > .header {
	height: auto;
	background-image: url('/images/system/light_arrow_shut.gif');
	/*background-image: url(light_arrow_open.gif);*/
	background-repeat: no-repeat;
	background-position: 0;
	background-color: #f5f7f8;
	padding: 5px;
	border-bottom: 1px solid #ecf0f2;
	cursor: pointer;
	line-height: 1em;
}
.header > span {
	padding-left: 24px;
	font-weight: 700;
	color: #2b587a;
	display: block;
}
.items {
	display: none;
	padding: 15px;
}
