.main_menu ul {
    list-style: none;
    padding-inline-start: 0px;
}
.main_menu li {
    padding: 0.1rem 0.3rem;
    border-bottom: 1px solid #aaf;
}
.main_menu li:hover {
    background-color: #ddd;
}
