.role__user-avatar {
    margin-right: 1rem;
}
.role__user-avatar img {
    border-radius: 50%;
}

.role__user-avatar {
    margin-right: 1rem;
}
.role__user-avatar img {
    border-radius: 50%;
}
.role__user {
    font-weight: bold;
}
