html {
	font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
body {
	margin: 0 5%;
		background-color: #fffff0;
}
.book {
	max-width: 1024px;
	margin: 0 auto;
}
a {
	text-decoration: none;
}
h1, h2, h3 {
	text-align: center;
}
img {
	border: #999 1px solid;
	max-width: 80%;
}
.cover {
	height: auto;
		width: auto;
		margin: 0 auto;
		display: block;
}
blockquote {
	border: #999 1px solid;
	padding: 10px;
}
.lev1 {
	margin-left: 30px;
}
.lev2 {
	margin-left: 60px;
}
.lev3 {
	margin-left: 90px;
}
.lev4 {
	margin-left: 120px;
}
.post_start {
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.posts {
	clear: both;
}
.post {
	color: #222;
	letter-spacing: .03px;
	display: flex;
	flex-direction: row;
	clear: both;
	border-top: #bbb 1px solid;
}
.text_post {
	float: left;
	padding: 14px 1.5% 50px 5%;
	width: calc(73% - 11px);
	position: relative;
		border-left: 1px dashed;
}
.author {
	float: left;
	padding: 5px;
	width: calc(27% - 12px);
	position: relative;
	text-align: center;
		border-left: 1px dashed;
		border-right: 1px dashed;
}
.member {
	float: none;
	color: #3498db;
	font-weight: bold;
	padding: 5px;
}
.date {
	padding: 5px 0px;
	font-size: 0.7rem;
}
.leader {
	float: none;
	color: #9b59b6;
	font-weight: bold;
	padding: 5px;
}
.outsider {
	float: none;
	color: #1fa67a;
	font-weight: bold;
	padding: 5px;
}
.smile {
	border: 0px;
}
.ava {
	border-radius: 100px;
	max-width: 75px;
	max-height: 75px;
}
.ref {
	text-decoration: underline;
	color: blue;
}
.header {
	clear: both;
}
.user_group {
	color: #666;
	clear: both;
	text-align: center;
	margin-bottom: 10px;
}

.to-emirida {
	position: fixed;
	display: block;
	right: 3%;
	top: 3%;
	padding: 5px 10px;
	border: 1px solid deepskyblue;
	border-radius: 3px;
	background-color: skyblue;
	color: #333;
}


@media (max-width: 760px) {
	.post {
		display: flex;
		flex-direction: column-reverse;
	}
	.text_post {
		float: none;
		width: auto;
		border: none;
	}
	.author {
		display: inline-flex;
		float: left;
		width: 100%;
		border: none;
	}
	.ava {
		max-height: 30px;
	}
}
